.about-us {
    padding: 2em;
    background-color: #3b2a8e;
    /* color: black; */
    text-align: left;
}
.about-title {
    font-size: 4em;
    font-weight: bold;
}

.about-title-caption {
    font-size: 1.55em;
}

.about-title-side {
    font-size: 1.7em;
    color: #00ece2;
    padding: 1em;
}

.about-title-row {
    margin: 3em 0;
}

.about-desc {
    font-size: 1.25em;
}