.header-item {
    padding: 14px 16px;
}

.nav-bar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
  
.nav-bar-ul-item .nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.nav-bar-ul-item .nav-link:hover {
    color: #00ece2;
}

.header-list-icon {
    display: block;
    font-size: 1.8em;
    margin: 4% 0;
    float: right;
}

.overlay-nav {  
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #12232f;
    overflow-x: hidden; 
    transition: 0.5s; 
  }
  
  /* Position the content inside the overlay */
  .mobile-overlay-nav-content {
    position: relative;
    top: 25%;
    width: 100%; 
    text-align: center;
    margin-top: 30px;
    list-style: none;
  }
  
  .mobile-nav-bar-ul-item {
      display: block;
      width: 100%;
  }


  .mobile-overlay-nav-content .mobile-nav-link {
    font-size: 36px;
    display: block; 
    transition: 0.3s;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* When you mouse over the navigation links, change their color */
  .mobile-overlay-nav-content .mobile-nav-link:hover, 
  .mobile-overlay-nav-content .mobile-nav-link:focus {
    color: #00ece2;;
  }
  
  .overlay-nav .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    text-decoration: none;
  }
  
  @media screen and (max-height: 450px) {
    .overlay-nav .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }