.join-us {
    padding-top: 4em;
    background-image: url("../img/background_roadmap.png");
    min-height: 576px;
}

.join-us-input-group {
    padding: 1em;
}
.join-us-row {
    margin: 0;
}

.join-us-title {
    padding-bottom: 1em;
}

.join-us-icon {
    display: block;
    font-size: 1em;
    margin: 4% 5%;
}