.road-map {
    padding: 4em 0;
}

.road-map-title {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 1em;
}

.road-map-item-title {
  text-align: center;
  font-size: 1.5em;
}

.road-map-desc {
    font-size: 1.1em;
}
